@font-face {
    font-family: gilroy-bold;
    src: url(Gilroy-Bold.woff);
  }

@font-face {
    font-family: gilroy-medium;
    src: url(Gilroy-Medium.woff);
  }

@font-face {
    font-family: gilroy-light;
    src: url(Gilroy-Light.woff);
}

@font-face {
    font-family: gilroy-extrabold;
    src: url(Gilroy-ExtraBold.woff);
}

*{
    margin: 0;
    padding: 0;
}

.home__PageContainer{
    font-size: 62.5%;
    /* border: 2px solid red; */
    max-width: 100%;
    /* width: 100vw; */
    height: 100%;
}

.home__Page__bg {
    position: absolute;
    z-index: 1;
    /* border: 2px solid; */
    background: linear-gradient(151.68deg, #E3F7FF -2.69%, #DAE3FD 98.31%);
    max-width: 100%;
    width: 100vw;
    /* height: 78.64vh; */
}

.breakout__Logo{
    /* border: 2px solid blue; */
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 4.077vh;
    margin-left: 6.944vw;
}

.people__Image{

    position: relative;
    z-index: 0;
    /* border: 2px solid yellow; */
    /* box-sizing: border-box; */
    /* width: 63.89vw; */
    min-height: 60vh;
    height: 67.573vh;
    float: right;
    margin-top: 11.06vh;
    /* display: none;    */
}

.people__ImageMob{display: none;}

.whatsapp__ButtonContainer{
    /* position: absolute;
    z-index: 3; */
    float: right;
}

.whatsapp__Button{
    position: absolute;
    /* justify-content: center; */
    width: 172px;
    height: 6vh;
    min-height: 45px;
    background-color: #14CC60;
    border: none;
    /* border: 1px solid rgba(18, 18, 18, 0.1); */
    border-radius: 16px;    
    color: white;
    right: 6.944vw;
    /* margin-right: 170px; */
    top: 3.85vh;
}

.whatsapp__Button:hover {
    background-color: #129a4a;
}

.whatsappButton__Text{
    font-size: 18px;
    font-family: gilroy-bold;
    /* margin-left: 7%; */
}

.whatsapp__ButtonMob{display: none;}

.homePage__Text{
    position: absolute;
    z-index: 2;
    /* border: 2px solid red; */
    width: 20.49vw;
    max-width: 300px;
    font-family: gilroy-bold;
    top: 17.28vh;
    left: 10.417vw;
}


.first__Line{

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #779FBD;
}

.first__LineMob{display: none;}

.bold__Text{
    font-size: 45px;
    line-height: 60px;
}


.second__Line{
    color: #637BFF;
}

.paragraph__Text{
    font-family: gilroy-medium;
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
}

.paragraph__TextMob{display: none;}

.joinNow__Button
{
    position: relative;
    z-index: 2;
    min-width: 160px;
    min-height: 54px;
    width: 11.11vw;
    height: 5.243vh;
    background-color: #14CC60;
    border: none;
    border: 1px solid rgba(18, 18, 18, 0.1);
    border-radius: 16px;    
    color: white;
    float: left;
    top: 3.495vh;
}

.joinNow__Button:hover {
    background-color: #129a4a;
}

.joinButton__Text{
    font-size: 18px;
    font-family: gilroy-bold;
    /* margin-left: 7%; */
}

.enrollNow__Button{display: none;}

.homePage__Text p{
    /* position: relative; */
    z-index: 2;
    /* border: 2px solid red; */
    position: absolute;
    font-family: gilroy-bold;
    color: #767676;
    /* color: black; */
    top: 20vh;
}

.info__Container{
    /* border: 2px solid green; */
    position: relative;
    z-index: 1;
    top: 77vh;
    width: 79.17vw;
    height: 31.55vh;
    left: 10vw;
    background: linear-gradient(144.46deg, #E0FFED 1.35%, #E0F9FF 115.13%);
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.info__Box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}    

.virtual__Campus, .practical__Learning, .for__Traders{
    /* border: 2px solid red; */
    position: relative;
    top: 4vh;
    width: 20vw;
}

.vc__heading, .pl__heading, .ft__heading{
    font-family: gilroy-bold;
    font-size: 24px;
    position: absolute;
    color: #641B98;
    float: right;
    /* right: 6vw; */
    left: 5vw;
    top: 0vh;
}

.vc__text, .pl__text, .ft__text{
    /* border: 2px solid green; */
    font-family: gilroy-light;
    font-size: 15px;
    line-height: 21px;
    position: relative;
    float: right;
    min-width: 200px;
    width: 15vw;
    top: 8vh
}

.last__Line{
    position: relative;
    font-family: 'Gilroy-Bold';
    font-size: 1.6em;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 80%;
}

.vc__textMob, .pl__textMob, .ft__textMob{display: none;}

.vc__headingMob, .pl__headingMob, .ft__headingMob{display: none;}