@font-face {
    font-family: gilroy-bold;
    src: url(Gilroy-Bold.woff);
}

@font-face {
    font-family: gilroy-medium;
    src: url(Gilroy-Medium.woff);
  }

@font-face {
   font-family: gilroy-heavy;
   src: url(Gilroy-Heavy.woff);
}

@font-face {
    font-family: gilroy-extrabold;
    src: url(Gilroy-ExtraBold.woff);
}

.contact__Container{
    background-image: url(../images/contact_bg.png);
    background-color: #f6f8ff;
    border: 2px solid transparent;
    background-size: cover;
    height: 633px;
}

.contact__img img{
    /* border: 2px solid green; */
    float: right;
    margin-top: 145px;
    z-index: 1;
}

.contact__Text{
    position: absolute;
    font-family: gilroy-extrabold;
    font-size: 50px;
    color: #4b4b4b;
    /* border: 2px solid black; */
    margin-top: 160px;
    margin-left: 150px;
}

.contact__Box{
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    margin-top: 50px;
    border-radius: 40px;
    width: 754px;
    height: 180px;
    justify-content: left;
}

.contact__Method{
    font-family: gilroy-bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.5px;   
    width: 50%;
    padding: 5%;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 60px;
    color:rgb(118, 118, 118, 0.7)
}

.contact__Method:not(:last-child){
    border-right: 2px solid rgba(0, 0, 0, 0.1); 
}

.email, .number{
    font-family: gilroy-bold;
    font-size: 36px;
    line-height: 60px;
    margin-top: -10px;
    /* identical to box height, or 167% */
    border: 2px solid transparent;    
    letter-spacing: -1px;
    color: #484848;
}